In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from config import akey

In [3]:
file = 'api-data/yearly_summary/prices_for_2016.csv'
stocks2016 = pd.read_csv(file)
stocks2016.sort_values(by=['Date'], inplace=True)
stocks2016.head(5)

            Date    Open    High      Low  Close  Daily Volume Ticker
6762  2016-01-29   0.453   0.453   0.3076   0.33      240400.0   ZYXI
6162  2016-01-29  18.980  19.270  16.5301  18.06     8496319.0   UCBI
1995  2016-01-29  22.500  23.690  14.3400  15.68     3183153.0   DXPE
2007  2016-01-29  47.320  50.240  44.2500  49.74    36064519.0    EAT
2019  2016-01-29  32.060  34.280  28.2800  34.12     7454334.0   EBIX

In [4]:
stocks2016.head()
stocks2016.drop(columns=['Open','High','Low','Daily Volume'], inplace=True)
stocks2016.head()

            Date  Close Ticker
6762  2016-01-29   0.33   ZYXI
6162  2016-01-29  18.06   UCBI
1995  2016-01-29  15.68   DXPE
2007  2016-01-29  49.74    EAT
2019  2016-01-29  34.12   EBIX

In [5]:
pct_chg_2016 = stocks2016.groupby('Ticker',sort=False).apply(lambda x: (x['Close'].values[-1] - x['Close'].values[0]) / x['Close'].values[-1] * 100)\
    .reset_index(name='pct change')
pct_chg_2016.head()

  Ticker  pct change
0   ZYXI  -10.000000
1   UCBI   39.027684
2   DXPE   54.864709
3    EAT   -0.423985
4   EBIX   40.192813